
<h1>Welcome to the <%= @requested_genre.name %> page!</h1> 
<ul><h2><%= @requested_genre.name%> has these songs:</h2></ul>


  <ol>
    
    <% @requested_genre.songs.each_with_index do |song, index| %>
    <p><%= "#{index + 1}-"%><b><%= "#{song.title}" %></b><%=", performed by #{song.artist.name};" %></p>
  <% end %>
  
<ol>


<h4>Back to the <a href="/"><button class="my_button">directory!</button></a></h4>